body{
    font-family: sans-serif;
    background-color:#fcead8;
    margin:0px;
    margin-top:10lvh;
}

.name{
    padding-top:10px;
    padding-left:11pt;
    align-items:center;
    text-align:left!important;
    font-weight:bold;
    font-size:26pt;
}

.profilePic{
    border-radius:60px;
}

.main{
    margin:auto;
    width:60%;
}